:root {
    --primary-color: #217F44;
    --secondary-color: #35b665;
    --login-container-bg: rgba(255, 255, 255, 0.9);
    --logo-bg-color: #fff;
    --btn-bg-color: linear-gradient(90deg, #35b665, #217F44);
    --btn-hover-bg-color: linear-gradient(90deg, #217F44, #1e6f33);
    --btn-login-text-color: #fff;
    --input-border-color: #ccc;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background: url("/assets/images/index-bg3.jpg") no-repeat center center/cover;
}

.login-container {
  position: relative; 
  background: var(--login-container-bg);
  padding: 60px 40px 40px; 
  border-radius: 12px;
  width: 100%;
  max-width: 360px;
  box-shadow: 0px 6px 20px rgba(0,0,0,0.2);
  text-align: center;
}

.login-container h2 {
    margin-bottom: 24px;
    color: var(--primary-color);
}

.logo {
  position: absolute;
  top: -50px;      
  left: 50%;       
  transform: translateX(-50%);
  width: 100px;   
  height: auto;
  border-radius: 50%; 
  border: 4px solid var(--logo-bg-color); 
  background: var(--logo-bg-color);      
}
.input-group {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}

.input-group input {
    width: 100%;
    padding: 12px 45px 12px 12px; 
    border: 1px solid var(--input-border-color);
    border-radius: 8px;
    outline: none;
    box-sizing: border-box;
}

.input-group i {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--primary-color);
    font-size: 18px;
    pointer-events: none; 
}

 .btn-login {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: var(--btn-bg-color);
    color: var(--btn-login-text-color);
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-login:hover {
    background: var(--btn-hover-bg-color);
}

.forgot-password {
  text-align: right; /* align to the right */
  margin-bottom: 15px; /* space below the link */
  margin-top: -10px; /* space above the link */
}

.forgot-password a {
  font-size: 14px;
  color: #000000; /* blue color */
  text-decoration: none;
  transition: color 0.3s ease;
}

.forgot-password a:hover {
  color: #0056b3; /* darker blue on hover */
  text-decoration: underline;
}
